* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container .header-coins h1 {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  padding: 0% 0% 0% 15%;
}

.container .main-coins {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0% 10% 10% 10%;
}

.container .main-coins .pattern {
  display: flex;
  width: 50%;
  justify-content: space-between;
  min-width: 500px;
}

.container .main-coins .pattern .coins-img {
  position: relative;
}

.container .main-coins .pattern .coins-img img {
  max-width: 172px;
}

.container .main-coins .pattern .coins-img .discount {
  position: absolute;
  top: 10%;
  left: 60%;
  border-radius: 50%;
  background-color: #833AE0;
  padding: 15px 8px;
}

.container .main-coins .pattern .coins-img .discount p {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.container .main-coins .pattern .texts {
  width: 45%;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}

.container .main-coins .pattern .texts a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #833AE0;
}

.container .main-coins .pattern .texts a:hover {
  color: #833AE0;
}

.container .main-coins .pattern .texts p {
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 5px;
}

.container .main-coins .pattern .texts p:nth-child(2) {
  padding-top: 15px;
}

.container .main-coins .pattern .prices {
  text-align: right;
  padding-top: 20px;
  font-family: Roboto, sans-serif;
}

.container .main-coins .pattern .prices h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
}

.container .main-coins .pattern .prices span {
  font-size: 15px;
  color: gray;
}

.inner-page {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell;
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
  /*margin: 20px 20%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.img-wrapper{
  width: 50%;
}
.inner-images img{

  width: 80%;
 
}

.inner-text {
  width: 50%;
  background-color: rgba(196, 196, 196, 0.5);
  /*width: 350px;*/
  
}

.white {
  background-color: white;
}

.inner-link {
  display: block;
  padding-top: 70px;
}

.price-more {
  margin-top: 15px;
  color: #7A7A7A;
  font-size: 10px;
  margin-bottom: 20px;
}
.price-more .articul{
  color: black;
}
.inner-page table td{
  padding: 5px;
  
}